{
  "keycloak": {
    "host": "https://kc.appleseed.kz/",
    "realm": "mdm",
    "client": "mdm-cli",
    "secret": "X6EX2eUfekKnEzcRKf0vw530Uy9luDMq",
    "public_key": "MIIClTCCAX0CBgGFGwxh1DANBgkqhkiG9w0BAQsFADAOMQwwCgYDVQQDDANtZG0wHhcNMjIxMjE2MTMwNjE0WhcNMzIxMjE2MTMwNzU0WjAOMQwwCgYDVQQDDANtZG0wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCadL+cLxkjcqZGJ8C0r9DnStf3VuUoOjNqunFf2wG+Zzjf3SfqLeR5iiyS623wBX1KtNwzxDSa3NByJgMRBax0rrShFmiczneUn/3TEsMsb8OnFTsGZYWz7yT2WxfEnXYgaQEAr9iAocjk0NUpbOPt639/m2a2coqyFNT19rPh7mR8WJ2z2MI9qq3z9pq1fTXQmyQr7T//V3jiksvsnE5A5ds+YqYxOLeA42lOskOl90P5TelzzBE31Hl+/1gUkz6kdnrR25lYsRUp4ObmNtdWn+DSKeGRe6fYvk7fEZUuZZiGui7OKSZgIXIHx/UWaz9TumXFlBFAm3rwh7tvOkmhAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAGXHer4ms0+VbstjiOVAKUftlfr+196RA2mPEslnrVn2vqyPwelJxbgkRPb1vWK2lzUiXMRCLMuNR3Rkwl4Lm61NT9AIoV0IL6IF8cyr7bxLqrHUQovVr1BjTyLY5IkfsthuQl0ZYwXYzH/tSDOEzGhMaOCq7Ym6Njzn350jHDnBZSaPxMZAO5HGtvn+eq6Gy+acFQtVaoaxC2Hegw0dVGqeA6V3D3PviqXO5l8NduNWVLPyfHd73XymGvJXO5wMElgo6g7wZyRGI/YmKPrExF7N17l1tvxRuze1P8leEa/7J3l4CHEeE4ofb/odM4c1fZU26Yu+yeBNmvS0Zk42nEw="
  },
  "environment": "testing",
  "http": {
    "host": "127.0.0.1",
    "port": "9090"
  },
  "db_url": "postgres://mdm_user:fB2VPvcVtDc5lZhP3PkluYkh@10.10.99.1:5432/mdm?sslmode=disable" - указать базу данных
}